.button {
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  background: #f5f5f5;
  /* background-color: aqua; */
  font-weight: bold;
}

.button:disabled {
  cursor: not-allowed;
}

.button.important {
  background-color: #9747ff;
  color: #f5f5f5;
}