.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
    background-color: #ddd; /* Default background */
    color: #333; /* Default text color */
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button.active {
    background: #3e6ae1;
    color: #fff;
}

.button.secondary {
    background-color: #6c757d; /* Example secondary color */
    color: #fff;
}

.button.secondary:hover {
    background-color: #5a6268;
}