.button {
  padding: 20px 20px;
  border: none;
  border-radius: 20px;

  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;

  background: #F7F1FF;
}

.button:hover {
  opacity: 0.8;
  background: #E4CFFF;
}

.button:disabled {
  cursor: not-allowed;
}

.button.active {
  color: #9747FF;
  background: #E4CFFF;
}